body {
  margin: 0;
  width: 100%;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #31e366;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: black;
  margin: 10px 30px 10px 10px;
}

.navigation a:hover,
.navigation a.logo:hover {
  color: #eee;
}

.navigation a.logo {
  /* justify-content: flex-start; */
  font-weight: 800;
  font-size: 20px;
  color: #333;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #00a532;
}

.jargon {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 100px;
  color: white;
}

.plastic-icon {
  margin-right: 200px;
}

.jargon-top {
  margin-bottom: 2px;
}

.jargon-middle {
  margin-top: 5px;
  margin-bottom: 2px;
}

.jargon-bottom {
  margin-top: 5px;
}
.plastic-icon {
  padding-left: 500px;
  height: 180px;
}

.about {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #fafafa;
  height: 300px;
}

.about-info {
  display: flex;
  flex-direction: column;
  text-justify: auto;
  font-size: 20px;
  color: #00a532;
}
.about-title {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}

.text {
  text-align: justify;
  width: 300px;
  font-size: 15px;
  margin-top: 0px;
  color: black;
  padding-top: 0px;
}

.about-photo {
  height: 180px;
  padding-left: 410px;
}

.using {
  display: flex;
  justify-content: center;
  margin-right: 900px;
  margin-top: 100px;
  margin-left: 30px;
  color: #00a532;
}

.why-title {
  display: flex;
  justify-content: center;
  color: white;
}

.why-us {
  display: flex;
  flex-direction: column;
  background-color: #31e366;
}

.why-content {
  display: flex;
  justify-content: center;
}

.content-one {
  display: flex;
  flex-direction: column;
  margin-right: 370px;
}

.content-title {
  color: white;
  margin: 0 0 0 0;
}

.background {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  background: #fc7c34;
  padding: 5px;
  border-radius: 5px;
  transition: 0.25s;
}

a.button:link,
a.button:visited {
  color: #fff;
}

a.button:hover {
  /* color: #fff; */
  background: purple;
}

.register-content {
  display: flex;
  background: url("/images/background.png");
  min-height: 90vh;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-title {
  text-align: center;
}

.register-title span {
  display: block;
  font-size: small;
}

fieldset {
  border-width: 0;
  margin: 20px 0;
  padding: 0;
}

.forms {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.input {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border: none;
  background: rgba(229, 229, 229, 0.6);
  color: #fff;
  min-width: 200px;
}

.input::placeholder {
  color: #eee;
}

#login,
#register {
  margin: 20px;
}

a.forgot-links {
  color: #fff;
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: #fff;
}

.button.login {
  background: #10c7ef;
}

.button.register {
  background: #fc7c34;
  text-transform: uppercase;
  width: 100%;
}

.card-img-top {
  width: 100%;
}

.content-two {
  padding-bottom: 50px;
}
